@import '~bootstrap/scss/bootstrap';



$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
  display: flex;
  overflow: scroll;
}
.bd-navbar {
  padding: .75rem 0;
  background-color: #7952b3;
  display: flex;
  flex-grow: 1;
  position: fixed;
  background-color: black;
}
.front {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20%;
}
.user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20%;
}

.modal {
  overflow-y: scroll;
}

.modal-body {
  overflow-y: scroll;
}
// .container
// #title {
//   text-align: center;
// }

//
// .box {
//   align-items: center;
//   background-color: $secondary;
//   border: 1px solid $white;
//   color: $font-color;
//   display: flex;
//   height: 80px;
//   justify-content: center;
// }

// .alt-color {
//   background-color: $alt-color;
// }
